<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceso a Internet (necesario para WebView) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Fresas La Playa"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">

        <!-- Pantalla de autenticación (Pantalla inicial) -->
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (después de autenticación) -->
        <activity
            android:name=".PantallaPrincipalActivity"
            android:exported="true" />

        <!-- Pantalla de ofertas -->
        <activity
            android:name=".OfertasActivity"
            android:exported="true" />

        <!-- pantalla para CRUD del usuario admin -->
        <activity android:name=".AdminActivity" />

        <activity android:name=".GestionChatAdminActivity" />



    </application>

</manifest>
